fastapi>=0.110
uvicorn[standard]>=0.27

pydantic>=2.6
pydantic-settings>=2.2

starlette>=0.36
itsdangerous>=2.2
jinja2>=3.1
aiofiles>=23.2
aiomqtt>=2.0

python-multipart>=0.0.9

playwright>=1.40
beautifulsoup4>=4.12

numpy>=1.26
opencv-python>=4.9
